.margintop {
    margin-top: 50%;
    text-align: center;
    color: aliceblue;
}
#form_to {   
    margin-top: 15px;
    width: auto;
}

#form_from {
    
    margin-top: 15px;
    width: auto;
}

#button1 {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

